{%extends 'donate/base.html'%}
{%load crispy_forms_tags%}
{% block content%}
<div class="container mt-5">
    
    <div class="card" style="width: 18rem;">
        <div class="card-body text-center">
          <h5 class="card-title">Event</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{object.title}}</h6>
          <p class="card-text">Description - {{object.description}}</p>
          <p class="card-text">location - {{object.location}}</p>
          
          <a a href="{%url "appointment-update" object.id%}" class="card-link btn btn-secondary btn-sm mt-1">Update</a>
          <a href="{%url "delete-appointment" object.id%}" class="card-link btn btn-danger btn-sm mt-1">Delete</a>
        </div>
      </div>
</div>
{%endblock content%}
