{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'donate/styles.css' %}" rel="stylesheet">
    <title>BloodBridge</title>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand text-danger text-bold" href="{%url "home"%}" style="font-weight: bold; letter-spacing: 5px;">BloodBridge</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav pr-3 ms-auto">
                  <a class="nav-link" href="{%url 'home'%}">
                    <i class="bi bi-house"></i> Home</a>
                  <a class="nav-link" href="">
                    <i class="bi bi-bar-chart-steps"></i> About</a>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-file-earmark-person"></i> Event
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{%url 'event-create'%}">Post Event</a></li>
                        <li><a class="dropdown-item" href="{%url 'events-list'%}">View Events</a></li>
                      </ul>
                    </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-file-earmark-person"></i> Appointment
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="{%url 'appointment'%}">create Appointment</a></li>
                      <li><a class="dropdown-item" href="#">View appointment</a></li>
                    </ul>
                  </li>
                  <button class="btn btn-outline-danger btn-sm rounded-pill">
                    <a class="nav-link" href="{%url 'logout'%}">
                      <i class="bi bi-box-arrow-left text-danger"></i><span class="text-danger"> Logout</span></a>
                  </button>
                  {% else %}
                  <a class="nav-link" href="{%url 'register'%}">
                    <i class="bi bi-person-plus"></i> Register</a>
                  <button class="btn btn-sm btn-outline-secondary rounded-pill">
                    <a class="nav-link" href="{%url 'login'%}">
                      <i class="bi bi-box-arrow-in-right"></i> Login</a>
                  </button>
                  {%endif%}
                </div>

              </div>
            </div>
            
          </nav>
    </header>

    {%block content%}
    {%endblock%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>