{%extends 'donate/base.html'%}
{%load crispy_forms_tags%}
{% block content%}
    <div class="container">
        <h1>Please Note, Your account is invalid Until Your email is Verified. Check Your Email FOr Details.</h1>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-class">
                <legend class="border-bottom mb-4">Welcome Back Beloved Donor</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-secondary" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3"><small class="text-muted">Need an account?
            <a href="{% url 'register' %}" class="ml-2">Register now</a>
        </small></div>
    </div>
{%endblock content%}
